<section>
<hgroup>
	<h3>I found these movies for you.</h3>
	<h4>Please select which movies you need to see by selecting "must" and which movies you're only slightly interested in seeing by selecting "might."</h4>
</hgroup>
	<section id="movies">
		<% @movies.each do |movie| %>
			<p class="title"><%= movie[0] %></p>
			<p class="poster"><a href=<%= movie[1]["full_poster"] %>><img src=<%= movie[1]["poster"] %> alt="" /></a></p>
			<p class="runtime"><%= movie[1]["runtime"] %> min</p> 
			<p class="rating"><%= movie[1]["rating"]%></p>
			<p class="score">Critic Score: <%= movie[1]["score"]%></p>
			<!--<p class="director">Directed by: <%= movie[1]["director"]%></p>-->
			<p class="actors">Staring:
				<% movie[1]["actors"].each do |actor| %>
					<p class="single_actor"><%= actor %></p>
				<% end %>
			</p>
			<form action="/calculating" method="post">
				Not interested <input type="radio" value="no" checked="true" name="<%= movie[0] %>" />
				Might <input type="radio" value="might" name="<%= movie[0] %>" />
				Must <input type="radio" value="must" name="<%= movie[0] %>" />
		<% end %>
		<br /><input type="submit" value="submit" />
			</form>
	</section>
</section>
